.card {
    max-width: 390px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 60px;
}
.card__title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--co-black);
    align-self: center;
}

.card__title::before {
    content: "01";
    position: absolute;
    top: -115px;
    left: -105px;
    font-size: 150px;
    font-weight: 400;
    color: var(--co-green);
    opacity: .3;
}
.card__desc {
    font-size: 20px;
    font-weight: 500;
    color: var(--co-black);
}
.card__img {
    width: 100%;
    height: 492px;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: auto 65/82;
}

.card__title--second {
    align-self: end;
    padding: 0 10px 0 0;
}

.card__title--second::before {
    content: "02";
}
.card__title--third::before {
    content: "03";
    left: -140px;
}

@media (max-width:480px) {
    .card__title--second::before {
        left: -80px;;
    }
}