.Pricing {
    background-color: var(--co-darkgreen);
    padding: 75px 0 100px 10px;
}

.pricing__content {
    color: var(--co-white);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing__title {
    font-size: 40px;
    font-weight: 900;
}

.pricing__nav {
    font-size: 25px;
    font-weight: 600;

}

.pricing__nav-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing__nav-item {
}

.pricing__nav-link {
}